@import "https://www.nerdfonts.com/assets/css/webfont.css";

@font-face {
    font-family: 'AgaveNerdFont';
    src: url('./fonts/AgaveNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgaveNerdFont';
    src: url('./fonts/AgaveNerdFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AgaveNerdFontMono';
    src: url('./fonts/AgaveNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgaveNerdFontMono';
    src: url('./fonts/AgaveNerdFontMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AgaveNerdFontPropo';
    src: url('./fonts/AgaveNerdFontPropo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgaveNerdFontPropo';
    src: url('./fonts/AgaveNerdFontPropo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    /* General Page Colors */
    --background: var(--background);       /* Main background color */
    --text-color: var(--foreground);             /* Main text color */
    --cursor-color: var(--cursor);               /* Cursor color */
    
    /* Header & Footer Colors */
    --header-background: var(--color0);    /* Background for headers */
    --header-text-color: var(--color7);          /* Text color for headers */
    --footer-background: var(--color1);    /* Background for footer */
    --footer-text-color: var(--color15);         /* Text color for footer */
    
    /* Accent and Highlight Colors */
    --accent-color: var(--color1);               /* Accent color for important elements */
    --highlight-color: var(--color6);            /* Highlight color for active/focused elements */
    --button-background: var(--color4);    /* Background color for buttons */
    --button-text-color: var(--color7);          /* Text color for buttons */
    
    /* Borders and Lines */
    --border-color: var(--color3);               /* Color for borders or dividers */
    --input-border-color: var(--color5);         /* Border color for input fields */
    --input-bg-color: var(--color0);             /* Input background color */
    
    /* Links and Interactive Elements */
    --link-color: var(--color2);                 /* Color for links */
    --link-hover-color: var(--color9);           /* Color when hovering over links */
    
    /* Sidebar */
    --sidebar-background: var(--color2);   /* Background color for sidebars */
    --sidebar-text-color: var(--color8);         /* Text color for sidebars */
    
    /* Modal and Popup Colors */
    --modal-background: var(--color5);     /* Modal background */
    --modal-text-color: var(--color7);           /* Modal text color */
    --modal-border-color: var(--color4);         /* Modal border color */
    
    /* Notification and Alert Colors */
    --notification-background: var(--color1); /* Background for notifications */
    --notification-text-color: var(--color7);      /* Text color for notifications */
    --alert-background: var(--color9);       /* Background color for alerts */
    --alert-text-color: var(--color15);            /* Text color for alerts */

    /*Navigation Tabs*/
    --theme-tab-bg: var(--color1);
    --theme-tab-text: var(--color7);
    --theme-active-tab-bg: var(--color3);
    --theme-active-tab-text: var(--color15);
    --theme-active-tab-border: var(--color4);
    --theme-tab-content-bg: var(--color0);
    --theme-border-color: var(--color4);
}


/* General Page Layout */
body {
    font-family: 'AgaveNerdFont', sans-serif;  /* You can change the font here */
    color: var(--text-color);
    background: var(--background-color);
    cursor: var(--cursor-color);
}

/* Headers */
.sticky-top,
.container-fluid {
    background: var(--background-color);
    color: var(--header-text-color);
}

.nav-item .nav-text {
    display: none; /* Hide the text by default */
    font-size: 0.9rem;
    text-align: center;
    width: 100%; /* Ensure the text stays centered */
    white-space: nowrap;
}

.nav-item .icon {
    font-size: 2rem; /* Make the icons bigger */
    display: block;
    text-align: center;
    transition: font-size 0.3s ease; /* Smooth transition for icon size */
    width: 100%; /* Center the icon */
}

.nav-item .icon:hover,
.nav-item .icon:focus {
    color: var(--highlight-color);
}

.nav-item a:hover .nav-text,
.nav-item a:focus .nav-text {
    font-weight: 700;
    color: var(--highlight-color);
    display: block; 
    /* Show text on hover or focus */
}

.nav-item a:hover .icon,
.nav-item a:focus .icon {
    padding-bottom: 1px;
    color: var(--highlight-color);
    font-size: 1.8rem; /* Make the icons smaller when the text is visible */
}

/* Center the text below the icon */
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px; /* Set a fixed width for each nav item to maintain alignment */
}


.nav {
    padding-left:30px;
    padding-right:30px;
    height: 40px;
}
.nav-tabs {
    border: none;
    border-bottom: none;
}

.nav-tabs .nav-link {
    border: none;
    border-bottom: none;
    background-color: transparent;
    color: var(--theme-tab-text);
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    color: var(--theme-active-tab-text);
}

.tab-content {
    border: 0px solid transparent;
    background-color: var(--theme-tab-content-bg);
    padding: 15px;
    margin: 15px;
}

.tab-pane {
    display: none;  /* Hide inactive tabs */
}

.tab-pane.active {
    display: block;  /* Show the active tab */
}

.column6 {
    position: relative;
    justify-content: left;
    align-items: left;/* Changed from fixed to relative */
    width: 900px;
    max-width: 100%;
    height: auto;
    padding: 0;
    text-align: left;
    bottom: 0;
    left: 0;
}

.column3 {
    position: absolute; 
    align-items: right;
    justify-content: right;
    text-align:  left;
    top: 20vh; /* Align the sidebar to the top */
    right: 30px;
    width: 400px; /* Align the sidebar to the right */
    max-width: 100%; /* Prevent shrinking below a certain size */
    height: auto; /* Full height of the viewport */
    background: transparent !important;
}

.column3 p {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 400;
}


/* Footer */
footer {
    background: var(--highlight-color);
    color: var(--text-color);
}

/* Buttons */
button {
    background: var(--button-background-color);
    color: var(--button-text-color);
    border: 1px solid var(--border-color);
}

button:hover {
    background: var(--highlight-color);
    color: var(--text-color);
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

/* Sidebar */
.sidebar {
    color: var(--sidebar-text-color);
    font-size: 1.5rem;
    border-radius: 8px;
    border: 1px transparent;
    overflow-y: auto; 
    overflow-x: hidden;
}

/* Modals */
.modal {
    background: var(--modal-background-color);
    color: var(--modal-text-color);
    border: 3px solid var(--modal-border-color);
}

/* Notifications */
.notification {
    background: var(--notification-background-color);
    color: var(--notification-text-color);
}

/* Alerts */
.alert {
    background: var(--alert-background-color);
    color: var(--alert-text-color);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: var(--highlight-color);
}

/* Icons */
.icon {
    width: 24px;
    height: 24px;
}

.icon-home {
    background: url('/path/to/icons/home.svg') no-repeat center;
}

.icon-folder {
    background: url('/path/to/icons/folder.svg') no-repeat center;
}

.icon-file {
    background: url('/path/to/icons/file.svg') no-repeat center;
}

.theme-switcher {
    background: var(--background-color);  /* Use the theme background color */
    color: var(--text-color);                  /* Use the theme text color */
    border: 1px solid var(--border-color);     /* Use the theme border color */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    appearance: none;                          /* Remove default dropdown arrow for custom styling */
    cursor: pointer;
}

/* Style the dropdown arrow */
.theme-switcher::-ms-expand {
    display: none;  /* Remove default dropdown arrow in IE */
}

.theme-switcher option {
    background: var(--background-color);  /* Use the theme background color */
    color: var(--text-color);                  /* Use the theme text color */
}

/* Add hover and focus effects */
.theme-switcher:hover {
    background: var(--highlight-color);  /* Highlight color on hover */
}

.theme-switcher:focus {
    outline: none;
    box-shadow: 0 0 5px var(--highlight-color);
}

.search-bar {
    width: 85%; /* Ensure it takes the full width of its parent */
    box-sizing: border-box; /* Ensure it includes padding/border */
}

/* Inputs */
input {
    box-sizing: border-box; /* Ensure it includes padding/border */
    background: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    color: var(--text-color);
    width: 100%;
    align-items: left;
    font-size: 1rem; 
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

.system-info-section {
    .system-info-section {
        background-color: var(--theme-tab-content-bg);
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 20px;
        font-weight: 600;
        border: 1px solid var(--theme-border-color);
    }
}
.system-info-section h3 {
    border-bottom: 2px solid var(--text-color);
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.system-info-section pre {
    background-color: var(--background-color);
    color: var(--sidebar-text-color);
    padding: 5px;
    border: 0px transparent;
    overflow-x: auto;
    white-space: pre-wrap; /* Allows the text to wrap inside the pre block */
}
.system-info-section i {
    margin-right: 5px;
    color: var(--highlight-color);
}
.loading {
    text-align: center;
    font-size: 1.2rem;
    color: var(--notification-text-color);
}
